@using AntDesign
@using Blazorit.Client.Pages.ECommerce.Admin.LayoutComponents.HeaderToolbars
@using Blazorit.Client.Pages.ECommerce.Admin.LayoutComponents.SiderMenus
@inherits LayoutComponentBase
@*@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "admin_role")]*@


<div class="bit-ecom-admin-layout">
    <Layout Class="admin-wrapper">
        <SiderMenu OnCollapse="HandleCollapse" />
        <Layout Class=@($"site-wrapper {siderCollapsedClass}")>
            <Header Class="site-header">
                <GridRow>
                    <GridCol Offset="1" Span="22">
                        <HeaderToolbar Class="site-header-body" />
                    </GridCol>
                </GridRow>                
            </Header>
            <Content Class="main-content">
                @*<Breadcrumb Style="margin:16px 0;">
                    <BreadcrumbItem>User</BreadcrumbItem>
                    <BreadcrumbItem>Bill</BreadcrumbItem>
                </Breadcrumb>*@
                @Body
            </Content>
            <Footer Style="text-align:center ">Blazorit.NET © @DateTime.Today.Year.ToString() Created by Semukov Artem</Footer>
        </Layout>
    </Layout>
</div>



@code {
    private string siderCollapsedClass = string.Empty;

    private void HandleCollapse(bool collapsed) {
        if (collapsed) {
            siderCollapsedClass = "sider-collapsed";
        } else {
            siderCollapsedClass = string.Empty;
        }
    }
}