<div class="@GetClass("header-toolbar")">
    <GridRow Justify="space-between">
        <GridCol Flex="1" Class="header-toolbar-accout tool">
            <Space Direction="DirectionVHType.Horizontal">
                <Split>
                    <Divider Type="DirectionVHType.Vertical" Class="nav-divider" />
                </Split>
                <ChildContent>
                    <SpaceItem>
                        <a>Login</a>
                    </SpaceItem>
                    <SpaceItem>
                        <a>Register</a>
                    </SpaceItem>
                </ChildContent>            
                </Space>  
        </GridCol>            

        <GridCol Flex="1" Class="header-toolbar-cart tool" Style="float:right;">
            <Space Direction="DirectionVHType.Horizontal">
                <Split>
                    <Divider Type="DirectionVHType.Vertical" Class="nav-divider" />
                </Split>
                <ChildContent>
                    <SpaceItem>
                        <a>Favorite</a>
                    </SpaceItem>
                    <SpaceItem>
                        <a>ShopCart</a>
                    </SpaceItem>
                </ChildContent>
            </Space>
        </GridCol>
    </GridRow>   
</div>
     



@code {
    [Parameter]
    public string? Name { get; set; }

    private string GetClass(string classes) {
        if (string.IsNullOrEmpty(Name)) {
            return classes;
        }

        return $"{Name} {classes}";
    }



    ////CssBuilder classHeaderToolboar = BlazorComponentUtilities.CssBuilder.Default("header-toolbar").AddClass("");


    
}
