<div class="@GetClass("site-content")">
    <h3>SiteContent from component</h3>
    @Body
</div>


@code {
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public RenderFragment? Body { get; set; }

    private string GetClass(string classes) {
        if (string.IsNullOrEmpty(Name)) {
            return classes;
        }

        return $"{Name} {classes}";
    }
}
