@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("site-footer"))">
    <GridRow>
        <GridCol Span="24">
            <h1 class="content">SiteFooter </h1>
        </GridCol>
    </GridRow>
</div>


@code {
    [Parameter]
    public string? Class { get; set; }
}
