@using AntDesign
@using Blazorit.Client.Base.Components
@inject NavigationManager Navigation
@inject IMessageService message;
@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-header-brand"))">
    <GridRow Align="center">
        <GridCol Span="4" Class="header-brand_logo">
            <figure onclick="@(() => Navigation.NavigateTo("/"))">
                <img id="logo" src="./images/logo/logo_blazorit.png" alt="Роботобор  – Магазин гаджетов, роботов и интересных решений" class="logoFloat">
            </figure>
        </GridCol>
        <GridCol Span="14" Class="header-brand-search">
            <GridRow>
                <GridCol Offset="1" Span="22">
                    <Search Placeholder="input search text" AllowClear Size="@InputSize.Large" EnterButton="true" @bind-Value="@txtValue" OnSearch="SearchHandler" />
                </GridCol>
            </GridRow>
        </GridCol>
        <GridCol Span="6" Class="header-brand-contacts">
            <div style="float:right">
                <p>Contacts</p>
            </div>
        </GridCol>
    </GridRow>
</div>