@attribute [Route(ConstPage.SHOPCART)]
@implements IBlazoritComponent
@using Blazorit.Client.Shared.Routes.ECommerce.Domain
@using Blazorit.Client.Pages.ECommerce.Domain.Components.ShopcartPage.Comps.ShopcartItems

<PageTitle>Shopcart</PageTitle>

<div class="@(((IBlazoritComponent)this).GetClass("bit-shopcart-page"))">
    <h1>ShopCart</h1>
    <GridRow>
        <GridCol Span="16">
            <AntList DataSource="@CartState.State.CartList">
                <ChildContent Context="item">
                    <ListItem NoFlex>
                        <ShopcartItem Item="@item" />
                    </ListItem>
                </ChildContent>
            </AntList>
        </GridCol>
        <GridCol Span="8">
            <h2>Оформление заказа</h2>
        </GridCol>
    </GridRow>  
 </div>