@attribute [Route(ConstPage.ADMIN_ACCOUNT)]
@using Blazorit.Client.Pages.ECommerce.Identity
@using Blazorit.Client.Shared.Routes.ECommerce.Domain;

<PageTitle>Account</PageTitle>

<h3>AdminAccount</h3>

<Account />


@code {

}
