@attribute [Route($"{ConstPage.PAYMENT}/{{PaymentToken}}/{{PaymentAmount}}")]

@using Blazorit.Client.Shared.Routes.ECommerce.Domain;

<h3>Virtual payment page</h3>

<p>You need to implement payments</p>
<p>It is a stub</p>

<Button OnClick="PayButton_ClickHandler">Pay</Button>

@code {
    [Parameter]
    public string PaymentToken { get; set; } = string.Empty;

    [Parameter]
    public decimal PaymentAmount { get; set; }

    private async Task PayButton_ClickHandler()
    {
        await Task.Delay(TimeSpan.FromSeconds(2)); // imitation payment on 3th-d party service

        // redirect to url (our) with our token and other info about payment
    }
}
