@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-product-card"))">
<GridRow>
    @*Main image of product*@
    <GridCol>
        <Card>
            <p>Hello from product: @Name</p>

        </Card>
    </GridCol>
    @*Price and buttons*@
    <GridCol>

    </GridCol>
</GridRow>

</div>