@using Microsoft.Fast.Components.FluentUI
@inherits LayoutComponentBase

<FluentCard>
    <h2>DomainLayout</h2>
    <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>

@Body