@attribute [Route($"{ConstPage.PRODUCT}/{{Category}}/{{LinkPart}}")] 

@using Blazorit.Client.Pages.ECommerce.Domain.Components.ProductPage.Comps.ProductCards
@using Blazorit.Client.Services.Abstract.ECommerce.Domain;
@using Blazorit.Client.Shared.Routes.ECommerce.Domain;

@inject IDataService dataService;

<div class="bit-product-page">
    <GridRow>
        <GridCol Span="24">
            <ProductCard Data="@productCard" />
        </GridCol>    
    </GridRow>
    @*Product features*@
    <GridRow>
        <GridCol Span="24"></GridCol>
    </GridRow>
</div>

@code {
    
}