@page "/product/{Category}/{LinkPart}"

@using Blazorit.Client.Pages.ECommerce.Domain.Components.ProductPage.Comps
@using Blazorit.Client.Services.Abstract.ECommerce.Domain;
@inject IDataService dataService;

<div class="bit-product-page">
    <GridRow>
        <GridCol Span="24">
            <ProductCard />
        </GridCol>    
    </GridRow>
    @*Product features*@
    <GridRow>
        <GridCol Span="24"></GridCol>
    </GridRow>
</div>

@code {
    
}