@attribute [Route($"{ConstPage.PRODUCT}/{{Category}}/{{LinkPart}}")] 

@using Blazorit.Client.Pages.ECommerce.Domain.Components.ProductPage.Comps.ProductCards
@using Blazorit.Client.Shared.Routes.ECommerce.Domain;

@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-product-page"))">
    <GridRow>
        <GridCol Span="24">
            <ProductCard Data="@productCard" />
        </GridCol>    
    </GridRow>
    @*Other products, other data*@
    <GridRow>
        <GridCol Span="24"></GridCol>
    </GridRow>
</div>

