@using AntDesign

@inject IMessageService message;


<GridRow Justify="space-between" Align="center" Class="@Name">
        <GridCol Flex=1 Class=@($"{Name}__logo")>
            <figure>
                Image
            </figure>
        </GridCol>
        <GridCol Flex=1 Class=@($"{Name}__search")>
            <div>
            <Search Placeholder="input search text" AllowClear Size="@InputSize.Large" EnterButton="true" @bind-Value="@txtValue" OnSearch="OnSearch" />
            </div>
        </GridCol>
        <GridCol Flex=1 Class=@($"{Name}__contacts")>
            <div style="float:right">
                <p>Contacts</p>
            </div>
        </GridCol>
</GridRow>


@code {
    [Parameter]
    public string? Name { get; set; }


    private string txtValue { get; set; }
    private bool loading;

    private void Handle(string value) {
        Console.WriteLine(value);
    }

    public async Task OnSearch() {
        await message.Loading($"searching {txtValue}", 2);
    }

    private async Task OnEnter(KeyboardEventArgs e) {
        Console.WriteLine("Enter pressed");
        loading = true;
        await Task.Delay(3000);
        loading = false;
    }
}