@using Blazorit.Client.Pages.ECommerce.Domain.LayoutComponents.HeaderToolbars
@using Blazorit.Client.Pages.ECommerce.Domain.LayoutComponents.HeaderBrands
@using Blazorit.Client.Pages.ECommerce.Domain.LayoutComponents.HeaderMenus
@using Blazorit.Client.Pages.ECommerce.Domain.LayoutComponents.SiteContents
@using Blazorit.Client.Pages.ECommerce.Domain.LayoutComponents.SiteFooters
@using AntDesign

@inherits LayoutComponentBase

<div class="bit-ecom-domain-layout">
    <header>
        <GridRow Class="site-header-top">
            <GridCol Offset="3" Span="18">
                <HeaderToolbar Class="site-header-top-body" />
            </GridCol>
        </GridRow>
        <GridRow Class="site-header-main">
            <GridCol Offset="2" Span="20">
                <HeaderBrand Class="site-header-main-body" />
            </GridCol>
        </GridRow>
        <GridRow Class="site-header-bottom">
            <GridCol Offset="2" Span="20">
                <HeaderMenu Class="site-header-bottom-body" />
            </GridCol>
        </GridRow>
    </header>
    <main>
        <GridRow Class="main-content">
            <GridCol Offset="2" Span="20">
                <SiteContent Class="main-content-body">
                    <Body>
                        @Body
                    </Body>
                </SiteContent>
            </GridCol>
        </GridRow>
    </main>
    <footer>
        <GridRow Class="main-footer">
            <GridCol Offset="2" Span="20">
                <SiteFooter Class="main-footer-body"/>
            </GridCol>
        </GridRow>
    </footer>
</div>