@using Blazorit.Client.Pages.ECommerce.Domain.HeaderToolbars
@using Blazorit.Client.Pages.ECommerce.Domain.HeaderBrands
@using Blazorit.Client.Pages.ECommerce.Domain.HeaderMenus
@using Blazorit.Client.Pages.ECommerce.Domain.SiteContents
@using Blazorit.Client.Pages.ECommerce.Domain.SiteFooters
@using AntDesign

@inherits LayoutComponentBase

<div class="ecom-domain-layout">
    <header>
        <GridRow Class="site-header-top">
            <GridCol Offset="3" Span="18">
                <HeaderToolbar Name="site-header-top-body" />
            </GridCol>
        </GridRow>
        <GridRow Class="site-header-main">
            <GridCol Offset="2" Span="20">
                <HeaderBrand Name="site-header-main-body" />
            </GridCol>
        </GridRow>
        <GridRow Class="site-header-bottom">
            <GridCol Offset="2" Span="20">
                <HeaderMenu Name="site-header-bottom-body" />
            </GridCol>
        </GridRow>
    </header>
    <main>
        <GridRow Class="main-content">
            <GridCol Offset="2" Span="20">
                <SiteContent Name="main-content-body">
                    <Body>
                        @Body
                    </Body>
                </SiteContent>
            </GridCol>
        </GridRow>
    </main>
    <footer>
        <GridRow Class="main-footer">
            <GridCol Offset="2" Span="20">
                <SiteFooter Name="main-footer-body"/>
            </GridCol>
        </GridRow>
    </footer>
</div>