@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-checkout-shopcart"))">
    <AntList DataSource="@ShopCart.CartList">
        <ChildContent Context="item">
            <ListItem NoFlex>
                <CheckoutShopcartItem Item="@item" />
            </ListItem>
        </ChildContent>
    </AntList>
</div>
